@model studentManagement.models.Student;
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1></h1>
    <div>@Model.name</div>
    <div>@Model.className  </div>
    <div>@Model.email  </div>
   </body>
</html>